@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Regular.ttf);
  }

  body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(../img/image-carrello.jpg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}
  
  p {
    color: #b3b3b3;
    font-weight: 600; }
  
  h1, h2, h3, h4, h5, h6{
    font-family: "Poppins";
    color: #fff;
}
  
  a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    
a, a:hover {
    text-decoration: none !important; }
  
  .content {
    padding: 7rem 0; }
  
  h2 {
    font-size: 20px; }
  
  /*Accordion style*/
  .custom-accordion .accordion-item {
    background-color: #f9f9f9;
    margin-bottom: 10px;
    position: relative;
    border-radius: 0px;
    overflow: hidden;
    background: transparent;
    backdrop-filter: blur(15px);
}
    .custom-accordion .accordion-item .btn-link {
        font-family: "Poppins";
        font-weight: 600;
        display: block;
        width: 100%;
        padding: 15px 15px;
        text-decoration: none;
        text-align: left;
        color: #555555;
        border: none;
        border-radius: 0;
        position: relative;
        background: #fff;
     }
      .custom-accordion .accordion-item .btn-link:before {
        font-family:'Bootstrap-icons';
        content: "\F282";
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 15px;
        background: #efefef;
        padding: 1px 5px;
        font-size: 18px;
        border-radius: 4px; }
      .custom-accordion .accordion-item .btn-link[aria-expanded="true"]:before {
        font-family:'Bootstrap-icons';
        content: "\F286";
        position: absolute;
        color: #fff;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 15px;
        background: #820016;
    }
    .custom-accordion .accordion-item.active {
      z-index: 2; }
      .custom-accordion .accordion-item.active .btn-link {
        color: #820016; }
    .custom-accordion .accordion-item .accordion-body {
      padding: 20px 20px 20px 20px;
      color: #888; }
  
.accordion-item{
    border-radius: 10px !important;
    margin: 20px 20px 0!important;
    border: 2px solid rgba(255, 255, 255, .5);
}

.eventi li{
  list-style-type: none;
  height: fit-content;
}

.eventi li p{
  color: #fff;
  font-family: 'Poppins';
  font-weight: 600;
  margin: 0 !important;
  line-height: 50px;
  white-space: nowrap;
}

.eventi li div{
  display: flex;
  justify-content: space-between;
}

.acquisto-biglietti{
  display: flex;
  justify-content:space-between;
  width: 400px;
  right: 0;
}

.acquisto-biglietti p{
  left: 0;
}

.btn-touchspin{
  background: transparent;
  backdrop-filter: blur(30px);
  color: white;
  border: 2px solid rgba(255, 255, 255, .5);
  margin: 0px 5px;
}

.btn-touchspin:hover{
  border: 2px solid #fff;
  color: #fff;
}

.btn-acquista{
  display: flex;
  justify-content: center;
}

.tspin{
  display:flex;
  align-items:center;
  justify-content:center;
  justify-content: space-between;
  width: 60%;
  right: 0;
}

.tspin input{
  width: 130px;
}

@media (max-width: 992px) {
  .eventi li div{
    display: inline-flex;
    flex-wrap: wrap;
  }
  .acquisto-biglietti{
    display: flex;
    justify-content:space-between;
    width: 400px;
    right: 0;
  }
  .tspin input{
    width: 130px;
  }
}