
@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-Regular.ttf);
}

h1,h2,h3,h4,p{
  cursor: default;
}

a{
  cursor: pointer;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppis', sans-serif;
}

body {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/login/Roma-login.jpg);
  background-position: center;
  background-size: cover;
}

.wrapper{
  margin: 40px 0;
  position: relative;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: height .2s ease;
  overflow: hidden;
  margin: 20px;
}

.wrapper.active {
  height: 650px;
}

.wrapper .form-box{
  width: 100%;
  padding: 40px;
}

.wrapper .form-box.login{
  transition: transform .18s ease;
  transform: translateX(0);
}

.wrapper.active .form-box.login{
  transition: none;
  transform: translateX(-400px);
}

.wrapper .form-box.register{
  position: absolute;
  transition: none;
  transform: translateX(400px);
}

.wrapper.active .form-box.register{
  transition: transform .18s ease;
  transform: translateX(0);
}

.form-box h2 {
  font-size: 2em;
  color: #ddd;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #ddd;
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 0.8em;
  color: #ddd;
  font-weight: 500;
  pointer-events: none;
  transition: .5s;
  font-family: 'Poppins';
}

.input-box input.notEmpty~label,
.input-box input:focus~label{
  top: -5px;
}

.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: .8em;
  color: #fff;
  font-weight: 600;
  font-family: 'Poppins';
  padding: 0 35px 0 5px;
}

.input-box .icon{
  position: absolute;
  right: 8px;
  font-size: 1em;
  color: rgb(221, 221, 221);
  margin-top: 12px;
}

/* Nome Cognome Box*/

.input-box-nc {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #ddd;
  margin-top: 30px;
}

.input-box-nc:first-child{
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(0.25turn, rgba(221,221,221), rgba(221,221,221) 95%, rgba(221,221,221,0) 95.1%, rgba(221, 221, 221, 0) 100%);
  border-image-slice: 1;
}

.input-box-nc label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 0.8em;
  color: #ddd;
  font-weight: 500;
  pointer-events: none;
  transition: .5s;
  font-family: 'Poppins';
}

.input-box-nc input:focus~label,
.input-box-nc input:valid~label{
  top: -5px;
}

.input-box-nc input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: .8em;
  color: #fff;
  font-weight: 600;
  font-family: 'Poppins';
  padding: 0 35px 0 5px;
}

.input-box-nc .icon{
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #ddd;
}

.nome-cognome{
  display: flex;
}

/* fine nome cognome box */

.input-box.rm-border{
  border-bottom: linear-gradient(#ddd,  blue) !important;
}

.remember-forgot{
  font-size: .9em;
  color: #ddd;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}
.remember-forgot label input{
  accent-color: #ddd;
  margin-right: 3px;
}

.remember-forgot a{
  color: #ddd;
  text-decoration: none;
}

.remember-forgot a:hover{
  text-decoration: underline;
}

.login-btn{
  width: 100%;
  height: 45px;
  background: transparent;
  border: 2px solid #ddd;;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #ddd;
  font-weight: 500;
  transition: .3s;
}

.login-btn:hover{
  background: #ddd;
  border: 2px solid #ddd;
  color: #000;
}

.register-btn{
  width: 100%;
  height: 45px;
  background: transparent;
  border: 2px solid #820016;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #ddd;
  font-weight: 500;
  transition: .3s;
}

.register-btn:hover{
  background: #820016;
  border: 2px solid #820016;
  color: #fff;
}

.login-register {
  font-size: .9em;
  color: #ddd;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

.login-register p a{
  color: #ddd;
  text-decoration: none;
  font-weight: 600;
}

.login-register p a:hover{
  text-decoration: underline;
}

input[type="date"]{
  padding: 5px;
  font-family: 'Poppins', monospace;
  outline: none;
  font-size: small;
  font-weight: 500;
  color: #ddd;
}

::-webkit-calendar-picker-indicator{
  filter: invert(0.8);
  margin-right: 2px;
  border-radius: 2px;
  cursor: pointer;
  height: 15px;
  width: 15px;
}